# Notebook PIBIC - SARG

### Importando bibliotecas e lendo tabelas

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import plotly.express as px
import matplotlib.pyplot as plt

In [4]:
tabela_2021 = pd.read_csv("C:\\Users\\amand\\Downloads\\INFLUD21-01-05-2023.csv", sep=";", usecols=["DT_SIN_PRI","SG_UF_NOT","CS_SEXO",
                                                                                             "NU_IDADE_N", "CS_RACA", "NOSOCOMIAL",
                                                                                             "FATOR_RISC", "VACINA_COV", "HOSPITAL",
                                                                                             "CLASSI_FIN", "EVOLUCAO"])

In [5]:
tabela_2022 = pd.read_csv("C:\\Users\\amand\\Downloads\\INFLUD22-03-04-2023.csv", sep=";", usecols=["DT_SIN_PRI","SG_UF_NOT","CS_SEXO",
                                                                                             "NU_IDADE_N", "CS_RACA", "NOSOCOMIAL",
                                                                                             "FATOR_RISC", "VACINA_COV", "HOSPITAL",
                                                                                             "CLASSI_FIN", "EVOLUCAO"])

In [6]:
tabela_2023 = pd.read_csv("C:\\Users\\amand\\Downloads\\INFLUD23-15-04-2024.csv", sep=";")

In [7]:
tabela_2024 = pd.read_csv("C:\\Users\\amand\\Downloads\\2024.csv", sep=";")

In [8]:
tabela_2021

,DT_SIN_PRI,SG_UF_NOT,CS_SEXO,NU_IDADE_N,CS_RACA,NOSOCOMIAL,FATOR_RISC,HOSPITAL,CLASSI_FIN,EVOLUCAO,VACINA_COV
0,06/01/2021,BA,M,69,1,NaN,2,1.0,3.0,2.0,NaN
1,03/01/2021,BA,M,89,9,NaN,2,1.0,5.0,2.0,NaN
2,07/01/2021,PR,F,51,9,2.0,1,1.0,4.0,1.0,NaN
3,05/01/2021,PR,M,57,2,2.0,1,1.0,4.0,3.0,NaN
4,04/01/2021,RS,M,81,1,2.0,1,1.0,5.0,2.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1048570,27/03/2021,BA,F,82,9,2.0,2,1.0,5.0,9.0,9.0
1048571,28/02/2021,RS,M,52,2,2.0,1,1.0,5.0,2.0,9.0
1048572,12/03/2021,MG,F,62,4,2.0,1,1.0,5.0,2.0,2.0
1048573,22/03/2021,MG,M,31,4,2.0,2,1.0,5.0,2.0,2.0
1048574,01/03/2021,RJ,F,80,9,2.0,1,1.0,5.0,1.0,1.0

In [9]:
tabela_2022

,DT_SIN_PRI,SG_UF_NOT,CS_SEXO,NU_IDADE_N,CS_RACA,NOSOCOMIAL,FATOR_RISC,HOSPITAL,CLASSI_FIN,EVOLUCAO,VACINA_COV
0,02/01/2022,RJ,M,23,4,NaN,2,1.0,4.0,1.0,1.0
1,03/01/2022,MS,F,37,4,2.0,2,1.0,1.0,1.0,1.0
2,04/01/2022,GO,F,33,4,2.0,2,1.0,4.0,1.0,1.0
3,04/01/2022,GO,M,76,4,1.0,1,1.0,4.0,2.0,1.0
4,06/01/2022,SP,F,16,1,NaN,1,1.0,4.0,1.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...
557471,25/11/2022,PI,F,87,4,2.0,1,1.0,4.0,2.0,1.0
557472,25/06/2022,SC,M,27,1,2.0,2,1.0,4.0,1.0,2.0
557473,26/11/2022,PE,M,73,9,NaN,1,1.0,NaN,NaN,1.0
557474,26/07/2022,RO,F,1,4,NaN,2,NaN,4.0,1.0,2.0
557475,10/02/2022,SP,F,86,1,2.0,1,1.0,4.0,2.0,1.0

In [10]:
tabela_2023

,DT_SIN_PRI,SG_UF_NOT,CS_SEXO,NU_IDADE_N,CS_RACA,NOSOCOMIAL,FATOR_RISC,HOSPITAL,CLASSI_FIN,EVOLUCAO,VACINA_COV
0,23/1/2023,RS,M,81,1.0,2.0,1.0,1.0,5.0,3.0,1.0
1,13/2/2023,SC,M,76,1.0,2.0,1.0,1.0,4.0,1.0,1.0
2,24/2/2023,RJ,M,8,4.0,2.0,1.0,1.0,2.0,1.0,1.0
3,26/2/2023,CE,M,1,4.0,NaN,2.0,1.0,4.0,1.0,1.0
4,4/2/2023,SP,F,18,1.0,NaN,2.0,1.0,5.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...
278509,13/11/2023,BA,M,87,4.0,NaN,1.0,1.0,5.0,1.0,2.0
278510,1/12/2023,MG,F,91,1.0,1.0,1.0,1.0,5.0,1.0,1.0
278511,23/12/2023,GO,F,5,4.0,2.0,2.0,1.0,4.0,1.0,2.0
278512,27/12/2023,MG,M,1,1.0,2.0,1.0,1.0,4.0,1.0,2.0
278513,6/7/2023,PE,M,1,1.0,2.0,2.0,1.0,NaN,NaN,2.0

In [11]:
tabela_2024

,DT_SIN_PRI,SG_UF_NOT,CS_SEXO,NU_IDADE_N,CS_RACA,NOSOCOMIAL,FATOR_RISC,HOSPITAL,CLASSI_FIN,EVOLUCAO,VACINA_COV
0,1/1/2024,CE,M,80,4,2.0,2,1.0,NaN,NaN,2.0
1,1/1/2024,PR,F,88,1,2.0,1,1.0,4.0,2.0,1.0
2,31/12/2023,PR,M,26,1,2.0,1,1.0,4.0,1.0,1.0
3,2/1/2024,CE,F,69,4,2.0,2,2.0,5.0,NaN,1.0
4,3/1/2024,PR,M,2,1,2.0,2,1.0,4.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...
56117,7/4/2024,SP,M,63,4,9.0,2,2.0,NaN,NaN,1.0
56118,15/3/2024,CE,M,1,1,2.0,2,1.0,1.0,1.0,2.0
56119,19/3/2024,PR,F,76,1,2.0,2,1.0,5.0,2.0,1.0
56120,5/4/2024,PR,M,76,1,2.0,1,1.0,NaN,NaN,2.0
56121,12/4/2024,DF,F,70,1,2.0,1,1.0,4.0,NaN,1.0