In [27]:
### Importando bibliotecas e lendo tabelas

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import plotly.express as px
import matplotlib.pyplot as plt

In [ ]:
tabela_2021 = pd.read_csv("C:\\Users\\caiov\\OneDrive\\Documentos\\Projeto PIBIC\\dadoscorrigidos\\INFLUD21-01-05-2023.csv", sep=";", usecols=["DT_SIN_PRI","SG_UF_NOT","CS_SEXO",
                                                                                             "NU_IDADE_N", "CS_RACA", "NOSOCOMIAL",
                                                                                             "FATOR_RISC", "VACINA_COV", "HOSPITAL",
                                                                                             "CLASSI_FIN", "EVOLUCAO"])

In [ ]:
tabela_2022 = pd.read_csv("C:\\Users\\caiov\\OneDrive\\Documentos\\Projeto Pibic\\dadoscorrigidos\\INFLUD22-03-04-2023.csv", sep=";", usecols=["DT_SIN_PRI","SG_UF_NOT","CS_SEXO",
                                                                                             "NU_IDADE_N", "CS_RACA", "NOSOCOMIAL",
                                                                                             "FATOR_RISC", "VACINA_COV", "HOSPITAL",
                                                                                             "CLASSI_FIN", "EVOLUCAO"])

In [ ]:
tabela_2023 = pd.read_csv("C:\\Users\\caiov\\OneDrive\\Documentos\\Projeto Pibic\\dadoscorrigidos\\INFLUD23-15-04-2024.csv", sep=";")

In [ ]:
tabela_2024 = pd.read_csv("C:\\Users\\caiov\\OneDrive\\Documentos\\Projeto Pibic\\dadoscorrigidos\\2024.csv", sep=";")

In [ ]:
tabela_2021

In [ ]:
tabela_2022

In [ ]:
tabela_2023

In [ ]:
tabela_2024

In [ ]:
#### Descritivas (2021)

In [ ]:
### An√°lise Descritiva Sudeste (2021)

In [13]:
df_SE = tabela_2021.loc[(tabela_2021["SG_UF_NOT"] == "ES")| (tabela_2021["SG_UF_NOT"] == "RJ") | (tabela_2021["SG_UF_NOT"] == "SP") | (tabela_2021["SG_UF_NOT"] == "MG")]

In [14]:
df_SE

,DT_SIN_PRI,SG_UF_NOT,CS_SEXO,NU_IDADE_N,CS_RACA,NOSOCOMIAL,FATOR_RISC,HOSPITAL,CLASSI_FIN,EVOLUCAO,VACINA_COV
5,04/01/2021,RJ,M,64,1,2.0,1,1.0,5.0,1.0,NaN
7,04/01/2021,RJ,F,63,1,NaN,2,1.0,5.0,NaN,NaN
8,04/01/2021,RJ,F,9,2,NaN,2,1.0,4.0,1.0,NaN
9,03/01/2021,SP,F,64,9,2.0,1,1.0,5.0,9.0,NaN
11,11/01/2021,SP,F,28,1,NaN,2,1.0,5.0,1.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1048565,21/03/2021,SP,F,56,4,9.0,2,1.0,5.0,1.0,2.0
1048567,15/03/2021,MG,F,79,4,2.0,2,1.0,5.0,9.0,1.0
1048572,12/03/2021,MG,F,62,4,2.0,1,1.0,5.0,2.0,2.0
1048573,22/03/2021,MG,M,31,4,2.0,2,1.0,5.0,2.0,2.0
1048574,01/03/2021,RJ,F,80,9,2.0,1,1.0,5.0,1.0,1.0

In [48]:
df_SE.describe()

,NU_IDADE_N,CS_RACA,NOSOCOMIAL,FATOR_RISC,HOSPITAL,CLASSI_FIN,EVOLUCAO,VACINA_COV
count,519895.000000,519895.000000,437833.000000,519895.000000,509767.000000,502787.000000,483791.000000,401247.000000
mean,54.010169,3.338786,2.701631,1.432928,1.034579,4.662026,1.464676,3.139126
std,22.578200,2.908295,2.132791,0.495481,0.384942,0.644278,1.205310,3.063380
min,-9.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,41.000000,1.000000,2.000000,1.000000,1.000000,4.000000,1.000000,1.000000
50%,57.000000,2.000000,2.000000,1.000000,1.000000,5.000000,1.000000,2.000000
75%,70.000000,4.000000,2.000000,2.000000,1.000000,5.000000,2.000000,2.000000
max,136.000000,9.000000,9.000000,2.000000,9.000000,5.000000,9.000000,9.000000

In [56]:
df_SE["CS_SEXO"].value_counts()

CS_SEXO
M    281790
F    238040
I        65
Name: count, dtype: int64

In [63]:
df_SE["CS_RACA"].value_counts()

CS_RACA
1    246552
4    148213
9     91470
2     28426
3      4919
5       315
Name: count, dtype: int64

In [68]:
df_SE["CLASSI_FIN"].value_counts()

CLASSI_FIN
5.0    360428
4.0    130207
2.0      5188
1.0      5115
3.0      1849
Name: count, dtype: int64

In [72]:
df_SE["EVOLUCAO"].value_counts()

EVOLUCAO
1.0    336157
2.0    131626
9.0     10194
3.0      5814
Name: count, dtype: int64

In [73]:
df_SE["VACINA_COV"].value_counts()

VACINA_COV
2.0    180726
1.0    135822
9.0     84699
Name: count, dtype: int64

In [80]:
df_SE["HOSPITAL"].value_counts()

HOSPITAL
1.0    499455
2.0      9267
9.0      1045
Name: count, dtype: int64

In [30]:
### An√°lise Descritiva Sul(2021)

In [31]:
df_S = tabela_2021.loc[(tabela_2021["SG_UF_NOT"] == "SC")| (tabela_2021["SG_UF_NOT"] == "RS") | (tabela_2021["SG_UF_NOT"] == "PR")]

In [32]:
df_S

,DT_SIN_PRI,SG_UF_NOT,CS_SEXO,NU_IDADE_N,CS_RACA,NOSOCOMIAL,FATOR_RISC,HOSPITAL,CLASSI_FIN,EVOLUCAO,VACINA_COV
2,07/01/2021,PR,F,51,9,2.0,1,1.0,4.0,1.0,NaN
3,05/01/2021,PR,M,57,2,2.0,1,1.0,4.0,3.0,NaN
4,04/01/2021,RS,M,81,1,2.0,1,1.0,5.0,2.0,NaN
10,04/01/2021,PR,F,26,1,2.0,1,1.0,4.0,1.0,2.0
14,07/01/2021,SC,F,3,1,NaN,1,1.0,4.0,1.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...
1048550,13/05/2021,PR,M,66,4,2.0,1,1.0,5.0,2.0,1.0
1048552,08/05/2021,PR,F,34,1,2.0,2,1.0,5.0,NaN,2.0
1048557,30/04/2021,SC,F,29,1,2.0,2,1.0,5.0,1.0,2.0
1048566,04/02/2021,PR,F,45,1,2.0,2,1.0,5.0,1.0,2.0
1048571,28/02/2021,RS,M,52,2,2.0,1,1.0,5.0,2.0,9.0

In [42]:
df_S.describe()

,NU_IDADE_N,CS_RACA,NOSOCOMIAL,FATOR_RISC,HOSPITAL,CLASSI_FIN,EVOLUCAO,VACINA_COV
count,184958.000000,184958.000000,162336.000000,184958.000000,183693.000000,182153.000000,173567.000000,142062.000000
mean,54.127737,2.128618,2.203886,1.391019,1.014230,4.710611,1.471973,2.880989
std,21.384536,2.532967,1.236686,0.487980,0.205863,0.605645,1.209151,2.828826
min,-2.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,42.000000,1.000000,2.000000,1.000000,1.000000,5.000000,1.000000,1.000000
50%,56.000000,1.000000,2.000000,1.000000,1.000000,5.000000,1.000000,2.000000
75%,70.000000,1.000000,2.000000,2.000000,1.000000,5.000000,2.000000,2.000000
max,113.000000,9.000000,9.000000,2.000000,9.000000,5.000000,9.000000,9.000000

In [57]:
df_S["CS_SEXO"].value_counts()

CS_SEXO
M    101692
F     83255
I        11
Name: count, dtype: int64

In [62]:
df_S["CS_RACA"].value_counts()

CS_RACA
1    145401
9     20178
4     13111
2      5026
3      1002
5       240
Name: count, dtype: int64

In [65]:
df_S["CLASSI_FIN"].value_counts()

CLASSI_FIN
5.0    138990
4.0     38398
2.0      4099
1.0       343
3.0       323
Name: count, dtype: int64

In [71]:
df_S["EVOLUCAO"].value_counts()

EVOLUCAO
1.0    120419
2.0     46229
9.0      3642
3.0      3277
Name: count, dtype: int64

In [74]:
df_S["VACINA_COV"].value_counts()

VACINA_COV
2.0    71185
1.0    46373
9.0    24504
Name: count, dtype: int64

In [79]:
df_S["HOSPITAL"].value_counts()

HOSPITAL
1.0    181730
2.0      1870
9.0        93
Name: count, dtype: int64

In [40]:
### Analise descritiva Centro Oeste (2021)

In [33]:
df_CO = tabela_2021.loc[(tabela_2021["SG_UF_NOT"] == "MS")| (tabela_2021["SG_UF_NOT"] == "MT") | (tabela_2021["SG_UF_NOT"] == "GO")]

In [35]:
df_CO

,DT_SIN_PRI,SG_UF_NOT,CS_SEXO,NU_IDADE_N,CS_RACA,NOSOCOMIAL,FATOR_RISC,HOSPITAL,CLASSI_FIN,EVOLUCAO,VACINA_COV
16,08/01/2021,MS,M,84,1,9.0,1,1.0,5.0,2.0,NaN
60,05/01/2021,MT,F,44,4,2.0,1,1.0,4.0,1.0,NaN
64,08/01/2021,GO,F,9,4,2.0,1,1.0,4.0,1.0,NaN
100,07/01/2021,MT,M,73,4,NaN,1,1.0,5.0,1.0,NaN
132,07/01/2021,MS,M,37,4,2.0,2,1.0,5.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...
1048441,16/03/2021,MT,F,41,4,2.0,2,1.0,5.0,1.0,2.0
1048442,07/05/2021,MS,M,45,1,2.0,2,1.0,5.0,1.0,2.0
1048465,10/03/2021,GO,F,52,9,NaN,2,1.0,5.0,1.0,NaN
1048466,12/02/2021,GO,F,45,4,2.0,1,1.0,5.0,1.0,9.0
1048517,09/03/2021,MS,F,43,1,NaN,1,1.0,5.0,2.0,NaN

In [43]:
df_CO.describe()

,NU_IDADE_N,CS_RACA,NOSOCOMIAL,FATOR_RISC,HOSPITAL,CLASSI_FIN,EVOLUCAO,VACINA_COV
count,72115.000000,72115.000000,61031.000000,72115.000000,69653.000000,71328.000000,69523.000000,54134.000000
mean,53.141871,3.862775,2.346562,1.495570,1.032863,4.787293,1.397408,3.220730
std,19.857053,2.520829,1.562709,0.499984,0.364811,0.556492,0.968366,3.044748
min,-1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,40.000000,1.000000,2.000000,1.000000,1.000000,5.000000,1.000000,1.000000
50%,54.000000,4.000000,2.000000,1.000000,1.000000,5.000000,1.000000,2.000000
75%,67.000000,4.000000,2.000000,2.000000,1.000000,5.000000,2.000000,2.000000
max,110.000000,9.000000,9.000000,2.000000,9.000000,5.000000,9.000000,9.000000

In [58]:
df_CO["CS_SEXO"].value_counts()

CS_SEXO
M    40026
F    32088
I        1
Name: count, dtype: int64

In [61]:
df_CO["CS_RACA"].value_counts()

CS_RACA
4    37771
1    19491
9    10896
2     2612
3     1012
5      333
Name: count, dtype: int64

In [66]:
df_CO["CLASSI_FIN"].value_counts()

CLASSI_FIN
5.0    59140
4.0    10865
2.0      807
1.0      427
3.0       89
Name: count, dtype: int64

In [70]:
df_CO["EVOLUCAO"].value_counts()

EVOLUCAO
1.0    48400
2.0    19693
9.0      846
3.0      584
Name: count, dtype: int64

In [75]:
df_CO["VACINA_COV"].value_counts()

VACINA_COV
2.0    27561
1.0    14991
9.0    11582
Name: count, dtype: int64

In [78]:
df_CO["HOSPITAL"].value_counts()

HOSPITAL
1.0    68246
2.0     1281
9.0      126
Name: count, dtype: int64

In [39]:
### Analise descritiva Norte (2021)

In [9]:
df_N = tabela_2021.loc[(tabela_2021["SG_UF_NOT"] == "TO")| (tabela_2021["SG_UF_NOT"] == "PA") | (tabela_2021["SG_UF_NOT"] == "AP")  | (tabela_2021["SG_UF_NOT"] == "RR") | (tabela_2021["SG_UF_NOT"] == "AM") | (tabela_2021["SG_UF_NOT"] == "AC") | (tabela_2021["SG_UF_NOT"] == "RO")]

In [50]:
df_N

,DT_SIN_PRI,SG_UF_NOT,CS_SEXO,NU_IDADE_N,CS_RACA,NOSOCOMIAL,FATOR_RISC,HOSPITAL,CLASSI_FIN,EVOLUCAO,VACINA_COV
20,09/01/2021,AM,F,2,4,2.0,1,1.0,5.0,1.0,NaN
32,03/01/2021,PA,M,83,4,NaN,2,1.0,NaN,NaN,NaN
62,05/01/2021,TO,M,69,4,2.0,1,1.0,4.0,NaN,NaN
92,05/01/2021,PA,F,77,4,2.0,1,1.0,5.0,1.0,1.0
93,10/01/2021,TO,F,26,4,1.0,2,1.0,4.0,1.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1048526,24/02/2021,AC,F,86,3,NaN,2,1.0,5.0,2.0,NaN
1048535,11/03/2021,PA,F,49,1,2.0,1,1.0,5.0,2.0,2.0
1048541,25/03/2021,TO,M,89,4,2.0,1,1.0,5.0,2.0,2.0
1048544,01/05/2021,AC,M,69,4,2.0,1,1.0,5.0,2.0,9.0
1048555,05/04/2021,TO,M,72,4,2.0,1,1.0,5.0,1.0,NaN

In [51]:
df_N.describe()

,NU_IDADE_N,CS_RACA,NOSOCOMIAL,FATOR_RISC,HOSPITAL,CLASSI_FIN,EVOLUCAO,VACINA_COV
count,62745.000000,62745.000000,49900.000000,62745.000000,58728.000000,58083.000000,54421.000000,40578.000000
mean,52.239206,3.904423,2.267675,1.567121,1.048750,4.746811,1.652487,3.569249
std,21.520791,1.506138,1.424701,0.495478,0.416171,0.551138,1.537942,3.187196
min,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,39.000000,4.000000,2.000000,1.000000,1.000000,5.000000,1.000000,2.000000
50%,54.000000,4.000000,2.000000,2.000000,1.000000,5.000000,1.000000,2.000000
75%,68.000000,4.000000,2.000000,2.000000,1.000000,5.000000,2.000000,9.000000
max,127.000000,9.000000,9.000000,2.000000,9.000000,5.000000,9.000000,9.000000

In [59]:
df_N["CS_SEXO"].value_counts()

CS_SEXO
M    34559
F    28165
I       21
Name: count, dtype: int64

In [60]:
df_N["CS_RACA"].value_counts()

CS_RACA
4    50422
1     6044
9     3190
2     1890
3      617
5      582
Name: count, dtype: int64

In [67]:
df_N["CLASSI_FIN"].value_counts()

CLASSI_FIN
5.0    45336
4.0    11829
2.0      381
1.0      330
3.0      207
Name: count, dtype: int64

In [10]:
df_N["EVOLUCAO"].value_counts()

EVOLUCAO
1.0    34114
2.0    17387
9.0     2047
3.0      873
Name: count, dtype: int64

In [76]:
df_N["VACINA_COV"].value_counts()

VACINA_COV
2.0    21999
9.0    10282
1.0     8297
Name: count, dtype: int64

In [77]:
df_N["HOSPITAL"].value_counts()

HOSPITAL
1.0    56796
2.0     1799
9.0      133
Name: count, dtype: int64

In [ ]:
### Analise descritiva Nordeste (2021)

In [106]:
df_NE = tabela_2021.loc[(tabela_2021["SG_UF_NOT"] == "AL")| (tabela_2021["SG_UF_NOT"] == "BA") | (tabela_2021["SG_UF_NOT"] == "CE") | (tabela_2021["SG_UF_NOT"] == "MA") | (tabela_2021["SG_UF_NOT"] == "PB") | (tabela_2021["SG_UF_NOT"] == "PE") | (tabela_2021["SG_UF_NOT"] == "PI") | (tabela_2021["SG_UF_NOT"] == "RN") | (tabela_2021["SG_UF_NOT"] == "SE")]

In [107]:
df_NE

,DT_SIN_PRI,SG_UF_NOT,CS_SEXO,NU_IDADE_N,CS_RACA,NOSOCOMIAL,FATOR_RISC,HOSPITAL,CLASSI_FIN,EVOLUCAO,VACINA_COV
0,06/01/2021,BA,M,69,1,NaN,2,1.0,3.0,2.0,NaN
1,03/01/2021,BA,M,89,9,NaN,2,1.0,5.0,2.0,NaN
6,06/01/2021,CE,F,89,4,2.0,1,1.0,5.0,1.0,1.0
15,04/01/2021,PB,F,1,1,2.0,2,1.0,5.0,1.0,NaN
25,04/01/2021,SE,F,70,1,2.0,1,1.0,5.0,9.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1048547,11/05/2021,RN,M,18,4,2.0,1,1.0,5.0,1.0,2.0
1048553,14/05/2021,BA,M,38,9,2.0,1,1.0,5.0,1.0,9.0
1048564,16/03/2021,PI,M,79,4,2.0,1,1.0,5.0,NaN,NaN
1048568,19/03/2021,BA,M,53,4,2.0,2,1.0,4.0,1.0,9.0
1048570,27/03/2021,BA,F,82,9,2.0,2,1.0,5.0,9.0,9.0

In [109]:
df_NE.describe()

,NU_IDADE_N,CS_RACA,NOSOCOMIAL,FATOR_RISC,HOSPITAL,CLASSI_FIN,EVOLUCAO,VACINA_COV
count,188219.000000,188219.000000,135182.000000,188219.000000,177972.000000,165568.000000,152739.000000,124352.000000
mean,52.713111,4.805105,2.680364,1.456415,1.047159,4.644382,1.825395,3.879560
std,23.530100,2.535847,2.120193,0.498098,0.436603,0.641943,1.891422,3.437869
min,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,39.000000,4.000000,2.000000,1.000000,1.000000,4.000000,1.000000,1.000000
50%,55.000000,4.000000,2.000000,1.000000,1.000000,5.000000,1.000000,2.000000
75%,70.000000,4.000000,2.000000,2.000000,1.000000,5.000000,2.000000,9.000000
max,150.000000,9.000000,9.000000,2.000000,9.000000,5.000000,9.000000,9.000000

In [110]:
df_NE["CS_SEXO"].value_counts()

CS_SEXO
M    101812
F     86333
I        74
Name: count, dtype: int64

In [116]:
df_NE["CS_RACA"].value_counts()

CS_RACA
4    114911
9     45056
1     19842
2      6318
3      1837
5       255
Name: count, dtype: int64

In [117]:
df_NE["CLASSI_FIN"].value_counts()

CLASSI_FIN
5.0    115158
4.0     46691
1.0      1925
2.0       900
3.0       894
Name: count, dtype: int64

In [118]:
df_NE["EVOLUCAO"].value_counts()

EVOLUCAO
1.0    94222
2.0    46578
9.0     9269
3.0     2670
Name: count, dtype: int64

In [119]:
df_NE["VACINA_COV"].value_counts()

VACINA_COV
2.0    51975
9.0    38263
1.0    34114
Name: count, dtype: int64

In [120]:
df_NE["HOSPITAL"].value_counts()

HOSPITAL
1.0    172820
2.0      4689
9.0       463
Name: count, dtype: int64

In [ ]:
#############################################################################################################################

In [19]:
#### FIM DE 2021

In [20]:
#### Descritivas (2022)

In [ ]:
### Analise descritiva Sudeste (2022)

In [60]:
df_SE22 = tabela_2022.loc[(tabela_2022["SG_UF_NOT"] == "ES")| (tabela_2022["SG_UF_NOT"] == "RJ") | (tabela_2022["SG_UF_NOT"] == "SP") | (tabela_2022["SG_UF_NOT"] == "MG")]

In [61]:
df_SE22

,DT_SIN_PRI,SG_UF_NOT,CS_SEXO,NU_IDADE_N,CS_RACA,NOSOCOMIAL,FATOR_RISC,HOSPITAL,CLASSI_FIN,EVOLUCAO,VACINA_COV
0,02/01/2022,RJ,M,23,4,NaN,2,1.0,4.0,1.0,1.0
4,06/01/2022,SP,F,16,1,NaN,1,1.0,4.0,1.0,2.0
7,08/01/2022,SP,M,55,9,NaN,2,1.0,5.0,1.0,9.0
10,07/01/2022,SP,M,1,1,NaN,2,1.0,4.0,1.0,2.0
11,06/01/2022,MG,F,50,4,2.0,1,1.0,4.0,1.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...
557462,27/11/2022,RJ,M,4,4,2.0,2,1.0,4.0,NaN,2.0
557465,13/12/2022,SP,M,2,4,2.0,2,1.0,4.0,1.0,2.0
557466,03/12/2022,SP,M,52,1,2.0,1,1.0,5.0,1.0,1.0
557468,23/12/2022,SP,F,62,1,2.0,2,1.0,5.0,9.0,1.0
557475,10/02/2022,SP,F,86,1,2.0,1,1.0,4.0,2.0,1.0

In [63]:
df_SE22.describe()

,NU_IDADE_N,CS_RACA,NOSOCOMIAL,FATOR_RISC,HOSPITAL,CLASSI_FIN,EVOLUCAO,VACINA_COV
count,273623.000000,273623.000000,236427.000000,273623.000000,269079.000000,264801.000000,251862.000000,273563.000000
mean,49.847911,3.380337,2.510229,1.429134,1.034611,4.312336,1.457929,1.544280
std,32.650080,2.940762,1.888855,0.494953,0.399936,0.849961,1.378289,1.289325
min,-9.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,9.000000,1.000000,2.000000,1.000000,1.000000,4.000000,1.000000,1.000000
50%,61.000000,2.000000,2.000000,1.000000,1.000000,4.000000,1.000000,1.000000
75%,78.000000,4.000000,2.000000,2.000000,1.000000,5.000000,1.000000,2.000000
max,115.000000,9.000000,9.000000,2.000000,9.000000,5.000000,9.000000,9.000000

In [64]:
df_SE22["CS_SEXO"].value_counts()

CS_SEXO
M    137616
F    135989
I        18
Name: count, dtype: int64

In [65]:
df_SE22["CS_RACA"].value_counts()

CS_RACA
1    130415
4     78043
9     49804
2     12392
3      2757
5       212
Name: count, dtype: int64

In [66]:
df_SE22["CLASSI_FIN"].value_counts()

CLASSI_FIN
4.0    123327
5.0    123004
2.0     11649
1.0      5089
3.0      1732
Name: count, dtype: int64

In [68]:
df_SE22["EVOLUCAO"].value_counts()

EVOLUCAO
1.0    192602
2.0     46583
9.0      7233
3.0      5444
Name: count, dtype: int64

In [69]:
df_SE22["VACINA_COV"].value_counts()

VACINA_COV
1.0    173031
2.0     93623
9.0      6909
Name: count, dtype: int64

In [70]:
df_SE22["HOSPITAL"].value_counts()

HOSPITAL
1.0    264022
2.0      4449
9.0       608
Name: count, dtype: int64

In [73]:
### An√°lise Descritiva Sul(2022)

In [72]:
df_S22 = tabela_2022.loc[(tabela_2022["SG_UF_NOT"] == "SC")| (tabela_2022["SG_UF_NOT"] == "RS") | (tabela_2022["SG_UF_NOT"] == "PR")]

In [50]:
df_S22

,DT_SIN_PRI,SG_UF_NOT,CS_SEXO,NU_IDADE_N,CS_RACA,NOSOCOMIAL,FATOR_RISC,HOSPITAL,CLASSI_FIN,EVOLUCAO,VACINA_COV
6,02/01/2022,SC,M,75,1,2.0,1,1.0,5.0,2.0,1.0
9,02/01/2022,RS,M,55,1,NaN,1,1.0,5.0,1.0,1.0
13,06/01/2022,PR,M,69,1,2.0,1,1.0,1.0,1.0,1.0
22,10/01/2022,SC,M,2,1,2.0,2,1.0,5.0,1.0,2.0
23,13/01/2022,SC,F,94,1,2.0,1,1.0,4.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...
557464,17/12/2022,PR,F,2,1,2.0,2,1.0,2.0,1.0,2.0
557467,18/12/2022,PR,F,70,1,2.0,2,1.0,5.0,1.0,1.0
557469,12/12/2022,RS,F,72,9,NaN,1,1.0,5.0,2.0,1.0
557470,10/11/2022,PR,F,69,1,2.0,1,1.0,4.0,1.0,1.0
557472,25/06/2022,SC,M,27,1,2.0,2,1.0,4.0,1.0,2.0

In [51]:
df_S22.describe()

,NU_IDADE_N,CS_RACA,NOSOCOMIAL,FATOR_RISC,HOSPITAL,CLASSI_FIN,EVOLUCAO,VACINA_COV
count,109487.000000,109487.000000,101569.000000,109487.000000,108460.000000,108498.000000,106357.000000,109473.000000
mean,48.677788,2.201001,2.104491,1.402769,1.015656,4.102509,1.352116,1.481443
std,32.034739,2.586896,1.001092,0.490457,0.171322,1.066815,1.120446,1.104795
min,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,10.000000,1.000000,2.000000,1.000000,1.000000,4.000000,1.000000,1.000000
50%,59.000000,1.000000,2.000000,1.000000,1.000000,4.000000,1.000000,1.000000
75%,76.000000,1.000000,2.000000,2.000000,1.000000,5.000000,1.000000,2.000000
max,123.000000,9.000000,9.000000,2.000000,9.000000,5.000000,9.000000,9.000000

In [52]:
df_S22.describe()

,NU_IDADE_N,CS_RACA,NOSOCOMIAL,FATOR_RISC,HOSPITAL,CLASSI_FIN,EVOLUCAO,VACINA_COV
count,109487.000000,109487.000000,101569.000000,109487.000000,108460.000000,108498.000000,106357.000000,109473.000000
mean,48.677788,2.201001,2.104491,1.402769,1.015656,4.102509,1.352116,1.481443
std,32.034739,2.586896,1.001092,0.490457,0.171322,1.066815,1.120446,1.104795
min,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,10.000000,1.000000,2.000000,1.000000,1.000000,4.000000,1.000000,1.000000
50%,59.000000,1.000000,2.000000,1.000000,1.000000,4.000000,1.000000,1.000000
75%,76.000000,1.000000,2.000000,2.000000,1.000000,5.000000,1.000000,2.000000
max,123.000000,9.000000,9.000000,2.000000,9.000000,5.000000,9.000000,9.000000

In [74]:
df_S22["CS_RACA"].value_counts()

CS_RACA
1    84462
9    12559
4     8623
2     3017
3      584
5      242
Name: count, dtype: int64

In [54]:
df_S22["CLASSI_FIN"].value_counts()

CLASSI_FIN
4.0    47045
5.0    45680
2.0    11973
1.0     3406
3.0      394
Name: count, dtype: int64

In [57]:
df_S22["EVOLUCAO"].value_counts()

EVOLUCAO
1.0    85105
2.0    16034
3.0     3388
9.0     1830
Name: count, dtype: int64

In [58]:
df_S22["VACINA_COV"].value_counts()

VACINA_COV
1.0    70054
2.0    37521
9.0     1898
Name: count, dtype: int64

In [59]:
df_S22["HOSPITAL"].value_counts()

HOSPITAL
1.0    106951
2.0      1482
9.0        27
Name: count, dtype: int64

In [75]:
### Analise descritiva Centro Oeste (2022)

In [46]:
df_CO22 = tabela_2022.loc[(tabela_2022["SG_UF_NOT"] == "MS")| (tabela_2022["SG_UF_NOT"] == "MT") | (tabela_2022["SG_UF_NOT"] == "GO")]

In [47]:
df_CO22

,DT_SIN_PRI,SG_UF_NOT,CS_SEXO,NU_IDADE_N,CS_RACA,NOSOCOMIAL,FATOR_RISC,HOSPITAL,CLASSI_FIN,EVOLUCAO,VACINA_COV
1,03/01/2022,MS,F,37,4,2.0,2,1.0,1.0,1.0,1.0
2,04/01/2022,GO,F,33,4,2.0,2,1.0,4.0,1.0,1.0
3,04/01/2022,GO,M,76,4,1.0,1,1.0,4.0,2.0,1.0
5,02/01/2022,MT,M,21,4,2.0,2,1.0,4.0,1.0,2.0
12,06/01/2022,MS,M,1,1,2.0,2,1.0,4.0,1.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...
557385,20/01/2022,GO,F,85,4,2.0,1,1.0,5.0,2.0,1.0
557401,27/10/2022,MS,M,72,4,2.0,1,1.0,4.0,1.0,1.0
557440,15/12/2022,MS,M,24,4,2.0,1,1.0,4.0,1.0,1.0
557450,18/12/2022,GO,M,93,9,2.0,1,1.0,5.0,1.0,1.0
557459,11/12/2022,MS,M,10,4,2.0,1,1.0,4.0,1.0,2.0

In [76]:
df_CO22.describe()

,NU_IDADE_N,CS_RACA,NOSOCOMIAL,FATOR_RISC,HOSPITAL,CLASSI_FIN,EVOLUCAO,VACINA_COV
count,30066.000000,30066.000000,27623.000000,30066.000000,29830.000000,29624.000000,29132.000000,30061.000000
mean,48.702654,3.707743,2.205843,1.443158,1.027590,4.190555,1.276603,1.547886
std,31.276067,2.357454,1.304648,0.496767,0.271595,1.106571,0.702031,1.146813
min,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,12.000000,1.000000,2.000000,1.000000,1.000000,4.000000,1.000000,1.000000
50%,58.000000,4.000000,2.000000,1.000000,1.000000,5.000000,1.000000,1.000000
75%,76.000000,4.000000,2.000000,2.000000,1.000000,5.000000,1.000000,2.000000
max,117.000000,9.000000,9.000000,2.000000,9.000000,5.000000,9.000000,9.000000

In [77]:
df_CO22["CS_SEXO"].value_counts()

CS_SEXO
M    15683
F    14383
Name: count, dtype: int64

In [78]:
df_CO22["CS_RACA"].value_counts()

CS_RACA
4    16574
1     8346
9     3613
2      895
3      331
5      307
Name: count, dtype: int64

In [80]:
df_CO22["CLASSI_FIN"].value_counts()

CLASSI_FIN
5.0    15088
4.0    10295
2.0     2788
1.0     1207
3.0      246
Name: count, dtype: int64

In [81]:
df_CO22["EVOLUCAO"].value_counts()

EVOLUCAO
1.0    22608
2.0     5770
3.0      624
9.0      130
Name: count, dtype: int64

In [82]:
df_CO22["VACINA_COV"].value_counts()

VACINA_COV
1.0    17602
2.0    11886
9.0      573
Name: count, dtype: int64

In [84]:
df_CO22["HOSPITAL"].value_counts()

HOSPITAL
1.0    29182
2.0      623
9.0       25
Name: count, dtype: int64

In [85]:
### Analise descritiva Norte (2022)

In [87]:
df_N22 = tabela_2022.loc[(tabela_2022["SG_UF_NOT"] == "TO")| (tabela_2022["SG_UF_NOT"] == "PA") | (tabela_2022["SG_UF_NOT"] == "AP")  | (tabela_2022["SG_UF_NOT"] == "RR") | (tabela_2022["SG_UF_NOT"] == "AM") | (tabela_2022["SG_UF_NOT"] == "AC") | (tabela_2022["SG_UF_NOT"] == "RO")]

In [88]:
df_N22

,DT_SIN_PRI,SG_UF_NOT,CS_SEXO,NU_IDADE_N,CS_RACA,NOSOCOMIAL,FATOR_RISC,HOSPITAL,CLASSI_FIN,EVOLUCAO,VACINA_COV
18,10/01/2022,RO,M,69,1,2.0,1,1.0,4.0,1.0,1.0
26,05/01/2022,PA,M,60,4,2.0,1,1.0,5.0,1.0,1.0
34,07/01/2022,TO,M,77,2,2.0,1,1.0,5.0,NaN,1.0
41,19/01/2022,AC,M,51,4,2.0,1,1.0,5.0,2.0,1.0
48,18/01/2022,PA,M,56,4,9.0,1,1.0,4.0,3.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...
557414,19/12/2022,PA,F,78,4,2.0,1,1.0,4.0,NaN,1.0
557425,10/07/2022,RO,F,2,4,NaN,2,NaN,4.0,1.0,2.0
557426,02/01/2022,RO,F,86,4,2.0,2,1.0,4.0,1.0,1.0
557448,19/02/2022,PA,M,8,4,2.0,2,1.0,5.0,1.0,2.0
557474,26/07/2022,RO,F,1,4,NaN,2,NaN,4.0,1.0,2.0

In [90]:
df_N22.describe()

,NU_IDADE_N,CS_RACA,NOSOCOMIAL,FATOR_RISC,HOSPITAL,CLASSI_FIN,EVOLUCAO,VACINA_COV
count,24282.000000,24282.000000,20655.000000,24282.000000,22648.000000,22761.000000,21031.000000,24271.000000
mean,44.298369,3.945062,2.132026,1.563916,1.058548,4.331488,1.522372,1.709077
std,31.264228,1.403085,1.182671,0.495908,0.431483,0.843093,1.431312,1.389210
min,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,9.000000,4.000000,2.000000,1.000000,1.000000,4.000000,1.000000,1.000000
50%,49.000000,4.000000,2.000000,2.000000,1.000000,4.000000,1.000000,1.000000
75%,72.000000,4.000000,2.000000,2.000000,1.000000,5.000000,2.000000,2.000000
max,122.000000,9.000000,9.000000,2.000000,9.000000,5.000000,9.000000,9.000000

In [91]:
df_N22["CS_SEXO"].value_counts()

CS_SEXO
M    12819
F    11459
I        4
Name: count, dtype: int64

In [92]:
df_N22["CS_RACA"].value_counts()

CS_RACA
4    20000
1     1990
9     1085
2      544
5      481
3      182
Name: count, dtype: int64

In [93]:
df_N22["CLASSI_FIN"].value_counts()

CLASSI_FIN
5.0    11081
4.0     9884
2.0     1158
3.0      347
1.0      291
Name: count, dtype: int64

In [94]:
df_N22["EVOLUCAO"].value_counts()

EVOLUCAO
1.0    15460
2.0     4014
3.0      914
9.0      643
Name: count, dtype: int64

In [99]:
df_N22["VACINA_COV"].value_counts()

VACINA_COV
1.0    12290
2.0    11234
9.0      747
Name: count, dtype: int64

In [100]:
df_N22["HOSPITAL"].value_counts()

HOSPITAL
1.0    21693
2.0      902
9.0       53
Name: count, dtype: int64

In [122]:
### An√°lise Descritiva Sudeste (2022)

In [123]:
df_NE22 = tabela_2022.loc[(tabela_2022["SG_UF_NOT"] == "AL")| (tabela_2022["SG_UF_NOT"] == "BA") | (tabela_2022["SG_UF_NOT"] == "CE") | (tabela_2022["SG_UF_NOT"] == "MA") | (tabela_2022["SG_UF_NOT"] == "PB") | (tabela_2022["SG_UF_NOT"] == "PE") | (tabela_2022["SG_UF_NOT"] == "PI") | (tabela_2022["SG_UF_NOT"] == "RN") | (tabela_2022["SG_UF_NOT"] == "SE")]

In [124]:
df_NE22

,DT_SIN_PRI,SG_UF_NOT,CS_SEXO,NU_IDADE_N,CS_RACA,NOSOCOMIAL,FATOR_RISC,HOSPITAL,CLASSI_FIN,EVOLUCAO,VACINA_COV
8,06/01/2022,BA,M,83,9,9.0,2,1.0,4.0,2.0,1.0
15,08/01/2022,PB,M,2,4,2.0,2,1.0,4.0,1.0,2.0
24,16/01/2022,CE,F,47,1,2.0,2,NaN,NaN,NaN,2.0
29,12/01/2022,RN,M,79,4,2.0,1,1.0,4.0,1.0,1.0
31,17/01/2022,CE,F,49,4,9.0,2,1.0,5.0,3.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...
557457,20/11/2022,BA,M,61,2,9.0,1,1.0,5.0,NaN,2.0
557458,17/11/2022,SE,F,1,9,2.0,2,1.0,4.0,1.0,2.0
557461,19/11/2022,PE,F,91,9,NaN,2,1.0,5.0,1.0,1.0
557471,25/11/2022,PI,F,87,4,2.0,1,1.0,4.0,2.0,1.0
557473,26/11/2022,PE,M,73,9,NaN,1,1.0,NaN,NaN,1.0

In [125]:
df_NE22.describe()

,NU_IDADE_N,CS_RACA,NOSOCOMIAL,FATOR_RISC,HOSPITAL,CLASSI_FIN,EVOLUCAO,VACINA_COV
count,104719.000000,104719.000000,76970.000000,104719.000000,94288.000000,83934.000000,78971.000000,103903.000000
mean,45.347139,4.695280,2.440639,1.530248,1.065682,4.257476,1.763052,1.765406
std,32.930805,2.404263,1.806714,0.499087,0.456797,0.866334,1.895230,1.619312
min,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,7.000000,4.000000,2.000000,1.000000,1.000000,4.000000,1.000000,1.000000
50%,52.000000,4.000000,2.000000,2.000000,1.000000,4.000000,1.000000,1.000000
75%,76.000000,4.000000,2.000000,2.000000,1.000000,5.000000,2.000000,2.000000
max,136.000000,9.000000,9.000000,2.000000,9.000000,5.000000,9.000000,9.000000

In [126]:
df_NE22["CS_SEXO"].value_counts()

CS_SEXO
M    52921
F    51741
I       57
Name: count, dtype: int64

In [127]:
df_NE22["CS_RACA"].value_counts()

CS_RACA
4    68281
9    22046
1    10108
2     3179
3      922
5      183
Name: count, dtype: int64

In [128]:
df_NE22["CLASSI_FIN"].value_counts()

CLASSI_FIN
4.0    41296
5.0    35782
2.0     3339
1.0     1988
3.0     1529
Name: count, dtype: int64

In [129]:
df_NE22["EVOLUCAO"].value_counts()

EVOLUCAO
1.0    54615
2.0    16677
9.0     4704
3.0     2975
Name: count, dtype: int64

In [130]:
df_NE22["VACINA_COV"].value_counts()

VACINA_COV
1.0    56099
2.0    43272
9.0     4532
Name: count, dtype: int64

In [131]:
df_NE22["HOSPITAL"].value_counts()

HOSPITAL
1.0    89831
2.0     4209
9.0      248
Name: count, dtype: int64

In [97]:
#############################################################################################################################

In [98]:
#### FIM DE 2022

In [102]:
#### Descritivas (2023)

In [103]:
### An√°lise Descritiva Sudeste (2023)

In [132]:
## df_SE23 = tabela_2023.loc[(tabela_2023["SG_UF_NOT"] == "ES")| (tabela_2023["SG_UF_NOT"] == "RJ") | (tabela_2023["SG_UF_NOT"] == "SP") | (tabela_2023["SG_UF_NOT"] == "MG")]